<h1>welcome to Bookers!!</h1>
<p>
In Bookers,</br>
you can share and exchange your opinions , inpressions , </br>
and emotions
</p>
<P>
  about various books!
</P>

<%= link_to "Log in" , "/users/sign_in" %> </br>
<%= link_to "Sign up" , "/users/sign_up" %>

